<div class = 'contact-us'> Contact Us</div>
<div class = 'contact-us-container'>
    <div class = 'contact-info'>
        <i class="head-icon fa-solid fa-address-card"></i>
        <div class = 'name'>
         Sanjay Ajmera
        </div>
        <div class="info">
             <div class="info-heading"> <a class = 'info-link' href="https://Wa.me/+919403669697" target="_blank"><i class="fa-brands fa-whatsapp"></i> Chat with us <br> </a></div> 
            9403669697, 9373044559 
        </div>
        <!-- <i class="fa-solid fa-phone"></i> -->
        <div class="info">
            <div class="info-heading"> <i class="fa-solid fa-phone"></i> Give a call on<br> </div>
            9403669697, 8329270995
        </div>
        <div class = 'info'>
            <div class="info-heading">  <i class="fa-solid fa-envelope"></i> Email us at <br></div>
            chintamanicreations@gmail.com
        </div>
    </div>
    <div class = 'address-map'>
        <i class="head-icon fa-solid fa-map-location-dot" id="head-icon-2"></i>
        <div class="info">
            <i class="fa-sharp fa-solid fa-location-dot"></i> Find us at <br>
            Flat no. A1/3, Kasliwal Vishwa, Behind LifeStyle Gym, Ulkanagri, Aurangabad - 431009
        </div>
        <!-- <i class="fa-solid fa-map"></i> -->
        <iframe class = "map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15009.9859952993!2d75.3424559!3d19.8612462!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdba3ffd71fb4d5%3A0x16f6995dc16ca64d!2sChintamani%20Creations!5e0!3m2!1sen!2sin!4v1687191780325!5m2!1sen!2sin"
         style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!-- 
<iframe class = "map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15009.9859952993!2d75.3424559!3d19.8612462!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdba3ffd71fb4d5%3A0x16f6995dc16ca64d!2sChintamani%20Creations!5e0!3m2!1sen!2sin!4v1687191780325!5m2!1sen!2sin"
         style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
