<div class="offer-card">
    <div class="card-image-heading">
        <img class= 'card-image' src="assets/card-bg.jpeg">
        <div class="overlay"></div>
        <div class="heading">Logo Design</div>
    </div>
   
    <div class="description">Experience the power of our Logo Designing service. 
        We create visually stunning and memorable logos that capture your brand's essence. 
        Stand out from the competition and leave a lasting impression on your audience. 
        Elevate your business with our impactful logo designs.
    </div>
</div>