.form{
    position: relative;
    margin-top: 4vw;
    width: 50vw;
    height: 90vw;
   left: 25%;
    /* overflow: hidden; */
}
@media screen and (max-width :500px) {
    .form{
        position: relative;
        margin-top: 14vw;
        width: 90vw;
        height: 150vh;
        left: 5%;
    }
}
