:root{
    --web-bg :#F0D498;
    --primary : #ce8911;
    --secondary : #2757C5;
    --tertiary: #F4C000;
    --title-large : 2em;
    --body-text: 1.5em;
    --on-primary: #865300;
    /* --text-color: #f8ce9a; */
    --navbar-heading-color : #663E00;

   
}
@media screen and (max-width : 500px){
    :root{
    --title-large : 1.5em;
    --body-text: 1.5em;
    }
}
@media screen and (max-width : 375px){
    :root{
    --title-large : 1.2em;
    --body-text: 1.5em;
    }
}
@font-face {
    font-family: 'Benguiat';
    src: url("../assets/Benguiat-Bold.woff2") format('woff2');
    font-weight: 700;
}