<div class="home">
    <div class="text-con">
        <div class="welcome" *ngIf="!isMobile">Welcome to <br><span class='chintamani-creations'>Chintamani Creations</span></div>
        <div class="welcome" *ngIf="isMobile">Welcome <br> <span class="to">to</span> <br><span class='chintamani-creations'>Chintamani Creations</span></div>
        <div class="tagline">The Place where Design meets
             <!-- {{screenWidth}} -->
            <div class="flipping">
                <span class="animated">Creativity</span>
                <span class="animated">Perfection</span>
            </div>
        </div>
        <!-- <div id=flip>
        <div><div>wOrK</div></div>
        <div><div>lifeStyle</div></div>
        <div><div>Everything</div></div>
      </div> -->
    </div>
    <div>
        <img class="image" src="assets/office.png">
    </div>

</div>
<div class="section-heading mobile-why"> Why Choose Us
</div>
<div class="section">
    <div class="highlights">
    <app-highlights *ngFor="let highlight of highlights" [highlight]="highlight.highlight" [description]="highlight.description"></app-highlights>
</div>
</div>

<div class="section-heading"> What We Offer
</div>
<div class="section">
    <div class="what-we-offer-cards">
        <app-wwo-card *ngFor="let category of categories" [category]="category"></app-wwo-card>
    </div>
</div>

<a class = "look-more" routerLink="/what-we-offer">Look More</a>