@import url('../../theme.css');

.welcome{
    width: fit-content;
    /* margin-left: 2vw; */
    margin-top: 14vw;
    font-size: 4em;
    color: var(--on-primary);
    font-weight: 700;
}

.home{
    /* margin: 2vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-con{
    width: 60vw;
    margin-left: 2vw;
}
.chintamani-creations{
    font-family: 'Benguiat';
    font-weight: 700;
}
.tagline{
    width: fit-content;
    display: inline;
    font-size: var(--title-large) ;
    color: var(--secondary);
    font-weight: 500;
}

.image{
    width: 40vw;
    margin-right: 4vw;
    margin-top: 4vw;
}

.animated{
    color: #BA1A1A;
    /* -webkit-animation: show 2s linear infinite; */
    /* animation: show 2s linear infinite; */
}
.flipping{
    display: inline;
	text-indent: 8px;
}
.flipping span{
    animation: show 5s linear infinite 0s;
	/* -ms-animation: topToBottom 12.5s linear infinite 0s; */
	/* -webkit-animation: topToBottom 12.5s linear; */
	/* color: #00abe9; */
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.flipping span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}


  @keyframes show{
    0% { opacity: 0; }
	15% { opacity: 0; -webkit-transform: translateY(-3vw); }
	/* 10% { opacity: 1; -webkit-transform: translateY(0px); } */
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	60% { opacity: 0; -webkit-transform: translateY(3vw); }
	80% { opacity: 0; }
	100% { opacity: 0; }
  }

.section-heading{
    width: fit-content;
    font-size: 3em;
    font-weight: 500;
    color: var(--on-primary);
    margin-left: auto;
    margin-right: auto;
}

.section{
    margin-left: 4vw;
    margin-right: 4vw;
}
.highlights{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2vw;
    /* justify-content: space-around; */
}
.what-we-offer-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
@media screen and (max-width : 500px){
    .home{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .welcome{
        padding: 0;
        width: fit-content;
        /* margin-left: 2vw; */
        margin-top: 0;
        text-align: center;
        font-size: 3em;
        line-height: 120%;
        color: var(--on-primary);
        font-weight: 700;
    }
    .section-heading{
        width: fit-content;
        font-size: 2em;
        font-weight: 500;
        color: var(--on-primary);
        margin-left: auto;
        margin-right: auto;
    }

    .tagline{
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* margin-bottom: 2vw; */
    }
    .to{
        font-size: 0.7em;
    }
    .image{
        width: 90vw;
        margin-left: auto;
        margin-right: auto ;
        margin-top: 14vw;
    }
    .text-con{
        width: 90vw;
        /* margin-left: 2vw; */
    }
    .flipping{
        /* width: fit-content; */
        /* left: 50%; */
        margin-top: 2vw;
        margin-bottom: 2vw;
        display: block;
        text-indent: 0px;
    }
    .animated{
        font-size: 1.5em;
    }
    .flipping span{
        /* animation: showMobile 5s linear infinite 0s; */
        left:50%;
        translate: -50%
    }
    .flipping span:nth-child(2){
        left:50%;
        translate: -50%
    }
    
     
    .section{
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .what-we-offer-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .mobile-why{
        margin-top: 15vw;
    }

    br{
        height: 2vw;
    }
}