<div class = "bg-image">
    <img class= "image" src = "assets/{{category.image}}" [alt]="category.image">
    <div class = "overlay"></div>
    <div class = 'name'>{{category.name}}</div>
    <div class="description">{{category.description}}</div>
</div>

<div class="section">
    <div class="heading">Our Best Works</div>
    <a class = 'get-a-qoute' routerLink="/get-a-qoute">Get A Qoute</a>
</div>
<div class = "samples">
    <img src = 'assets/{{sample}}' class = 'sample' *ngFor="let sample of category.samples" alt="Sample of Logo Design">
</div>