@import url(../../theme.css);

.bg-image{
    margin-top: 4vw;
    position: relative;
}

.image{
    width: 100vw;
    height: 33vw;
    object-position:top;
    object-fit:cover;
}

.overlay{
    top: 0;
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.name{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 4em;
}

.description{
    position: absolute;
    top: 60%;
    margin-left: 12vw;
    margin-right: 12vw;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

@media screen and (max-width:500px){
    
}